.stats {
	margin-top: 0;
	font-weight: normal;
}

.stats td:first-child {
	text-align: right;
	font-weight: normal;
	letter-spacing: 2px;
	color: #666;
	font-size: .7em;
}

.stats td:last-child {
	text-align: left;
}
